<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>JanataWIFI</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h2 class="text-center"><u>JanataWIFI -Dataset</u></h2><br>
<table class="table table-dark table-striped">
	<thead>
	<tr>
		<th>date</th>
		<th>trade_code</th>
		<th>high</th>
		<th>low</th>
		<th>open</th>
        <th>close</th>
        <th>volume</th>
	</tr>
	</thead>
	<tbody>
	<!-- jinja2 Technique -->
	{% if d %}
	{% for i in d %}
	<tr>
		<td>{{i.date}}</td>
		<td>{{i.trade_code}}</td>
		<td>{{i.high}}</td>
		<td>{{i.low}}</td>
		<td>{{i.open}}</td>
        <td>{{i.close}}</td>
        <td>{{i.volume}}</td>
	</tr>
	{% endfor %}
	{% endif %}
	</tbody>
</table>
</div>

</body>
</html>
