{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}



    {% if messages %}
    {% for m in messages %}

    {% comment %} <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small> {% endcomment %}
    <div class="">
      {% comment %} <h3 class="text-{{m.tags}}">{{m}}</h3> {% endcomment %}
      <p class="bg-success p-3 text-white">{{m}}</p>
    </div>
    
    {% endfor %}
    {% endif %}

    <form method="post" style="width: 50%; margin: auto" novalidate>
      <h1>Signup Page</h1>
      {% csrf_token %}
      <!-- {{form | crispy }} -->
      {% for fm in form%} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
      {% endfor %}
      <br />
      <button class="btn btn-primary" type="submit">Signup</button>
      <br>
      <small>Already have an account <a href="{% url 'login' %}"> Login </small>
      <br/>
    </form>


{% endblock  %}