asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
django-environ
django-htmx
django-tinymce
idna
oauthlib
pillow
psycopg2
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
six
sqlparse
tzdata
urllib3