{% extends "base.html" %} 
{%  load crispy_forms_tags %}
{% block content %}

<div class="col-sm-12">
  <div class="card m-2">
    <div class="card-body">
      <img src="{{tution.image.url}}" class="card-img-top" alt="" style="width: 50%;"/>
      <h1 class="card-title">{{tution.title}}</h1>
      <p class="card-text">{{tution.content}}</p>
  
      <p>
        Category : {% for cat in tution.classes.all %}
        <button class="btn btn-warning btn-sm m-2" disabled>
          {{cat.name}}
        </button>
        {% endfor %}
        
      </p>
      
    </div>
  </div>
</div> 

<div class="card m-2">
    <h5 class="p-3">Total Reviews: {{ tution.comments.all | length}}</h5>
    {% for comment in tution.comments.all  %}
    
    <div class="card-body border m-2">
        
        <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
        <p>{{comment.body}}</p>
    </div>
    {% endfor %} 
  </div>
  
  





{% endblock %}
