{% for message in messages %}
  <div class="mt-4">
    <div class="{% if message.tags %}{{ message.tags }}{% endif %} px-4 py-2 rounded-md" role="alert">
      <div class="flex">
        <div class="mr-2">
          {% if message.tags == 'success' %}
            <svg class="fill-current text-green-500 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
            </svg>
          {% elif message.tags == 'error' %}
            <svg class="fill-current text-red-500 h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 12a1 1 0 0 1-1-1V6a1 1 0 0 1 2 0v5a1 1 0 0 1-1 1zM10 16a1 1 0 0 1-1-1 1 1 0 0 1 2 0 1 1 0 0 1-1 1z"/>
            </svg>
          {% endif %}
        </div>
        <div>
          <p class="font-bold">
            {% if message.tags == 'success' %}
              Success!
            {% elif message.tags == 'error' %}
              Error!
            {% endif %}
          </p>
          <p class="text-sm">{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
