{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
  {% for tsk in data %}
  <div class="col-sm-3">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">{{tsk.title}}</h5>
        <p class="card-text">{{tsk.date}}</p>
        <p>Description : {{tsk.description}}</p>
        <p>
          Task Category : {% for cat in tsk.category.all %} 
          <button class="btn btn-primary btn-sm m-2" disabled >{{cat.name}} </button>
          {% endfor %}
        </p>
        {% if tsk.is_completed %}
            <p>Completed</p>
        {% else %}
        <a href="{% url 'edit_task' tsk.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete_task' tsk.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}